[Unit]
Description=Start Demo
After = weston.service

[Service]
Restart=always
Environment="XDG_RUNTIME_DIR=/run/user/0"

WorkingDirectory=/home/root/webgldemo
ExecStart=/usr/bin/chromium --kiosk --no-sandbox index.html

[Install]
WantedBy = multi-user.target
